.form-control {
  margin-bottom: 10px;
}

.form-control:focus {
  box-shadow: 0 0 0.1rem var(--onboard-main-text),
    inset 0 0 0.1rem var(--onboard-main-text);
  border-color: var(--onboard-main-text);
}

.name-email-form {
  width: 300px;
}

#emailId {
  margin-bottom: 4vh;
}
