.director-din-form {
  width: 320px;
}

.director-din-form .form-control {
  margin-top: 15px;
}

.director-din-form #employeeSelect {
  margin-bottom: 25px;
}

.director-din-form .form-control:focus {
  box-shadow: 0 0 0.1rem var(--onboard-main-text),
    inset 0 0 0.1rem var(--onboard-main-text);
  border-color: var(--onboard-main-text);
}
