.director-din-form {
  width: 23rem;
}

.director-din-form .form-control {
  height: 40px;
  margin-top: 15px;
}

.director-din-form #employeeSelect {
  margin-bottom: 25px;
}

.director-din-form .form-control:focus {
  box-shadow: 0 0 0.1rem var(--onboard-main-text),
    inset 0 0 0.1rem var(--onboard-main-text);
  border-color: var(--onboard-main-text);
}

@media screen and (min-height: 900px) {
  .director-din-form {
    width: 21rem;
  }
}
