.coPanGst-form {
  margin-top: 30px;
  width: 23rem;
}
.coPanGst-form .form-control {
  height: 40px;
}
.coPanGst-form #coPan {
  margin-bottom: 15px;
}
.coPanGst-form #coGst {
  margin-bottom: 30px;
}
.coPanGst-form .form-control:focus {
  box-shadow: 0 0 0.1rem var(--onboard-main-text),
    inset 0 0 0.1rem var(--onboard-main-text);
  border-color: var(--onboard-main-text);
}

@media screen and (min-height: 900px) {
  .coPanGst-form {
    width: 21rem;
  }
}
