.work-email-form {
  width: 22rem;
}

.work-email-form .form-control:focus {
  box-shadow: 0 0 0.1rem var(--onboard-main-text),
    inset 0 0 0.1rem var(--onboard-main-text);
  border-color: var(--onboard-main-text);
}

.work-email-form #workEmail {
  margin: 20px 0;
  height: 40px;
}
