.button-common {
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.25px;
  border-radius: 10px;
  border: 0;
}
.button-common:disabled {
  border-color: var(--border-grey) !important;
  color: var(--border-grey) !important;
}

@media screen and (max-width: 385px) {
  .button-common {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .smallWidth {
    width: 180px;
  }
}
