.orders-container {
  height: 67vh;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.orders-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.orders-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
