.pan-details-form {
  width: 23rem;
}

.pan-details-form .form-control {
  height: 40px;
  font-weight: 350;
  font-size: 0.85rem;
  line-height: 14px;
}

.custom-file-button input[type="file"] {
  display: none;
}

.custom-file-button label:hover {
  cursor: pointer;
}
.pan-box {
  width: 100%;
  height: 40px;
  font-weight: 350;
  font-size: 0.85rem;
  line-height: 14px;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  cursor: pointer;
}
.pan-box .text {
  color: #666768;
}
.pan-box .pan-required {
  color: var(--onboard-main-text);
}

.pan-box .pan-add {
  font-size: 2rem;
  color: var(--onboard-main-text);
}

.pan-file-label {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 10px;
  color: var(--verification-footer-orange);
  margin: 10px 0;
}

.pan-details-form #panMobileNumber {
  margin-bottom: 20px;
}

.pan-details-form #panMobileNumber:focus,
.pan-details-form .pan-box:active {
  box-shadow: 0 0 0.1rem var(--onboard-main-text),
    inset 0 0 0.1rem var(--onboard-main-text);
  border-color: var(--onboard-main-text);
}

.pan-details-form .pan-error {
  padding: 8px 0;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 10px;
  color: var(--wrong-input-orange);
  margin-top: -15px;
}

@media screen and (min-height: 900px) {
  .pan-details-form {
    width: 21rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
