.card-main {
  width: 26rem;
  min-height: 30rem;
  border-radius: 12px;
}

.card-main .card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-main-title {
  width: 16rem;
  color: var(--background-green);
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  text-align: center;
  margin-top: 5vh;
}

.card-main-title .subtitle {
  width: 300px;
}

.card-subtitle {
  width: 22rem;
  color: var(--card-subtitle);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  margin-top: 1vh;
}

.card-subtitle .bank-date {
  font-weight: 600;
  font-size: 1rem;
  line-height: 12px;
  color: var(--onboard-main-text);
}

@media screen and (max-width: 380px) {
  .card-main {
    width: 90%;
  }
}

@media screen and (min-height: 900px) {
  .card-main {
    width: 24rem;
    min-height: 28rem;
  }

  .card-main-title {
    line-height: 38px;
  }

  .card-subtitle .bank-date {
    line-height: 25px;
  }
}
