.logout-img {
  width: 1.3rem;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  cursor: pointer;
}

.ver-card-container {
  width: 22rem;
  margin-top: 20px;
}
.ver-card-container .box {
  height: 45px;
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-grey);
  border-radius: 10px;
  font-family: "Spline Sans";
  font-weight: 350;
  font-size: 0.9rem;
  line-height: 14px;
  color: var(--verification-card-text);
}

.ver-card-container .status {
  font-weight: 400;
  font-family: "Spline Sans";
  font-size: 0.75rem;
  line-height: 10px;
  color: var(--border-grey);
}

.verification-footer {
  font-family: "Spline Sans";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 10px;
  color: var(--verification-footer-orange);
  margin-top: 10px;
}

.ver-card-container .box-size {
  margin-top: -22px;
}

@media screen and (min-height: 700px) {
  .verification-footer {
    padding-bottom: 15px;
  }
}

@media screen and (min-height: 900px) {
  .ver-card-container {
    width: 21rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .verification-footer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 380px) {
  .ver-card-container {
    width: 19.5rem;
  }
}
