.card-container {
  width: 340px;
  margin-bottom: 3vh;
}

.order-card .image-container,
.order-card .main-container,
.order-card .mid-details,
.order-card .end-details {
  height: 110px;
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
}

.order-card .border-style {
  border-radius: 8px;
}

.image-container {
  flex-grow: 0.4 !important;
}

.main-container {
  padding: 0;
}

.mid-details {
  width: 107.5%;
  height: 80px;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}

.end-details {
  width: 107.5%;
  height: 90px;
  border-radius: 0 0 8px 8px;
}

.order-footer {
  background: none;
  border: none;
  width: 100%;
  height: 28px;
  padding-left: 8px;
}
.show {
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  text-align: start;
  color: var(--onboard-main-text);
}

.show-less {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.show-more {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.order-title {
  width: 201px;
  margin: 10px 0px 10px 8px;
  text-align: start;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: var(--order-card-title);
}

.main-container .card-body {
  padding: 0;
  margin-left: 8px;
}

.payment-cycle {
  margin-top: 2px;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  text-align: start;
}

.payment-cycle .content {
  font-weight: 600;
  color: var(--onboard-main-text);
}

.next-due {
  margin-top: 4px;
  font-weight: 400;
  font-size: 8.5px;
  line-height: 10px;
  color: var(--onboard-main-text);
  text-align: start;
}

.pay-now {
  height: 50px;
  margin: -15px -9px 0 0;
}

.mid-header {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: var(--order-header-grey);
}
.mid-value {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: var(--background-green);
}

.mid-details .box {
  width: 100px;
}

.per-month {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--order-card-title);
}

.end-container1 {
  width: 100%;
}

.end-header {
  width: 100px;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  color: var(--order-header-grey);
}

.end-value {
  width: 50px;
  font-weight: 500;
  font-size: 11px;
  line-height: 25px;
  color: var(--order-card-title);
}

.end-dates {
  width: 100px;
}

.end-date-header {
  width: 60px;
}

@media screen and (max-width: 576px) {
  .order-card .card {
    flex: 1 0 0%;
  }

  .order-card .image-container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  .order-card .main-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
