.selfie-form {
  width: 320px;
}
.selfie-container {
  width: 222px;
  height: 220px;
  border: 1.5px solid var(--onboard-main-text);
  border-radius: 12px;
  overflow: hidden;
}

#selfie-video {
  width: 297px;
  height: 297px;
  margin: -40px 0 0 -40px;
}

.selfie-image {
  width: 116%;
  height: 318px;
  border-radius: 12px;
  margin-left: -10px;
}

.camera-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  width: 84%;
  text-align: center;
  color: var(--card-subtitle);
}
.hidden {
  display: none;
}

@media screen and (max-width: 450px) {
  .selfie-image {
    margin-top: -30px;
  }
}

@media screen and (min-height: 645px) {
  .selfie-image {
    margin-top: -30px;
  }
}
