.selfie-form {
  width: 20rem;
}
.selfie-container {
  width: 15rem;
  height: 15rem;
  border: 1.5px solid var(--onboard-main-text);
  border-radius: 12px;
  overflow: hidden;
}

#selfie-video {
  width: 15rem;
  height: 15rem;
}

.selfie-image {
  width: 16rem;
  height: 16rem;
  border-radius: 12px;
}

.camera-text {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 18px;
  width: 88%;
  text-align: center;
  color: var(--card-subtitle);
}

.hidden {
  display: none;
}

@media screen and (min-height: 300px) {
  @-moz-document url-prefix() {
    .selfie-image {
      height: 22rem;
    }
  }
}
