.layout-container {
  padding: 0;
  height: 100%;
}

.header-container {
  column-gap: 20px;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--white-header);
}
.header-background {
  background-color: var(--onboard-green);
}
.side-logo {
  width: 3.5rem;
  margin: 12px 0 12px 15vh;
  cursor: pointer;
}

.layout-card {
  padding: 0;
  height: 100%;
}

@media screen and (max-width: 860px) {
  .header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .side-logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .layout-card {
    align-items: flex-start !important;
    margin-top: 20px;
  }
  .header-container {
    font-size: 1.4rem;
  }
}
