.checkout-container {
  margin-top: 30px;
}

.detail-card {
  height: 430px;
  width: 88%;
}

.summary-container {
  row-gap: 15px;
}

.summary-card {
  height: 210px;
  width: 65%;
}
.kyc-text {
  width: 65%;
  font-weight: 350;
  font-size: 10px;
  line-height: 14px;
  color: var(--white-header);
}

.summary-title {
  margin: 15px 0 0 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--background-green);
}

.summary-content div {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--order-card-title);
}

.total-block {
  font-weight: 600;
  line-height: 20px;
  border-top: 1px solid #d0d0d1;
  margin-top: 10px;
  padding-top: 10px;
}

.total-block .total {
  font-size: 14px;
  color: var(--card-subtitle);
}

.total-block .amount {
  font-size: 18px;
  color: var(--background-green);
}

.paying {
  padding-right: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--onboard-main-text);
}
