.onboard-container {
  height: 100vh;
  padding: 0;
}

.left-panel {
  background-color: var(--onboard-green);
  padding: 0;
}

.right-panel {
  row-gap: 5vh;
  padding-left: 4vw;
  text-align: start;
}

.group-logo {
  margin-top: 70px;
  width: 101px;
  height: 96px;
}

.main-logo {
  margin-top: 30px;
  width: 220px;
}

.sub-content {
  font-size: 10px;
  color: var(--onboard-sub-text);
  margin-top: 26vh;
}

.button-continue {
  margin-top: 4vh;
}

.art-board {
  height: 420px;
  margin-left: -2vw;
}

.main-content {
  color: var(--onboard-main-text);
  width: 400px;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  margin-top: -80px;
}

.bottom-text {
  color: var(--onboard-sub-text);
  width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 250px) and (max-width: 400px) {
  .art-board {
    margin-left: 5vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 576px) {
  .art-board {
    margin-left: 14vw;
  }
}

@media screen and (max-width: 576px) {
  .main-content {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .bottom-text {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  .onboard-container {
    overflow-x: hidden;
    width: 103vw;
  }
}

@media screen and (max-width: 760px) {
  .group-logo {
    width: 81px;
    height: 76px;
  }
  .main-logo {
    width: 180px;
  }
  .sub-content {
    margin-top: 32vh;
  }
}

@media screen and (min-width: 1360px) {
  .sub-content {
    margin-top: 32vh;
  }

  .main-content {
    margin-top: -30px;
    margin-bottom: 15px;
  }
}

@media screen and (min-height: 1000px) {
  .art-board {
    margin-top: 10vh;
  }
}
