.address-container {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 320px;
  padding: 0;
  border: 1px solid var(--border-grey);
  border-radius: 10px;
}
.location-icon {
  padding-top: 15px;
  width: 90px;
}
.address {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 350;
  font-size: 12px;
  line-height: 20px;
  color: var(--order-header-grey);
}
