.logout-img {
  width: 1.3rem;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  cursor: pointer;
}

.choose-type {
  width: 22rem;
  margin: auto;
}

.type-title {
  font-family: "Red Hat Display";
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  color: var(--choose-select-green);
}

.type-subtitle {
  font-family: "Spline Sans";
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 15px;
  color: var(--verification-footer-orange);
}

.choose-type .check {
  display: flex;
  width: 100%;
  height: 40px;
  font-family: "Spline Sans";
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
}

.choose-type .check:hover {
  cursor: pointer;
}

.choose-type .isActive {
  border-color: var(--onboard-main-text);
}

.choose-type .professional-subtext {
  margin-top: -10px;
  font-family: "Spline Sans";
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 16px;
  color: var(--otp-resend-text);
}

@media screen and (min-height: 900px) {
  .choose-type {
    width: 21rem;
    gap: 1.4rem !important;
  }
  .choose-type .professional-subtext {
    margin-top: -20px;
  }
}

@media screen and (max-width: 380px) {
  .choose-type {
    width: 19.5rem;
  }
}
