* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-green);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-green: #2d5155;
  --onboard-green: #184449;
  --onboard-sub-text: #e6e7e8;
  --onboard-main-text: #e8815d;
  --card-subtitle: #494949;
  --otp-resend-text: #8c8d8d;
  --order-card-title: #3e3e3e;
  --order-header-grey: #999999;
  --white-header: #ffffff;
  --border-grey: #d0d0d1;
  --verification-card-text: #1c1c1c;
  --verification-footer-orange: #d35929;
  --choose-select-green: #174255;
  --wrong-input-orange: #c76537;
}
